<div class="nav">
  <div class="w">
    <div class="user-info">
      <span class="user" *ngIf="user$ | async as user">
        <span class="link-text">
          Welcome,
          <span class="username"><b><i>{{ user.username }}</i></b></span>
        </span>
        <span class="link js-logout" (click)="logout()"> Logout</span>
      </span>
      <span class="user not-login" *ngIf="!(user$ | async)">
        <span class="link js-login" (click)="login()">Login</span>
        <span class="link js-register" (click)="register()">Register</span>
      </span>
    </div>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="link" href="./cart">
          <i class="fa fa-shopping-cart"></i> Shopping cart(<span class="cart-count"
            >{{ car$ | async }}</span
          >)
        </a>
      </li>
      <li class="nav-item">
        <a class="link" href="./order-list">My order</a>
      </li>
      <li class="nav-item">
        <a class="link" href="./user-center">My MTMall</a>
      </li>
      <li class="nav-item">
        <a class="link" href="./about">About</a>
      </li>
    </ul>
  </div>
</div>
