<app-header></app-header>
<app-search></app-search>
<app-breadcrumb link="Password update"></app-breadcrumb>
<div class="page-wrap w">
  <app-nav-side></app-nav-side>
  <div class="content with-nav">
    <div class="panel">
      <div class="panel-title">Password update</div>
      <div class="panel-body">
        <div class="user-info">
          <div class="form-line">
            <span class="label">Old password: </span>
            <input
              type="password"
              class="input"
              id="password"
              autocomplete="off"
              [formControl]="password"
            />
          </div>
          <div class="form-line">
            <span class="label">New password: </span>
            <input
              type="password"
              class="input"
              id="password-new"
              autocomplete="off"
              [formControl]="passwordNew"
            />
          </div>
          <div class="form-line">
            <span class="label">Confirm password: </span>
            <input
              type="password"
              class="input"
              id="password-confirm"
              autocomplete="off"
              [formControl]="passwordConfirm"
            />
          </div>
          <span class="btn btn-submit" (click)="onSubmit()">Save</span>
        </div>
      </div>
    </div>
  </div>
</div>
