<div class="crumb">
  <div class="w">
    <div class="crumb-con">
      <a class="link" href="./index.html">MTMall</a>
      <span> > </span>
      <span class="link-text">Product detail</span>
    </div>
  </div>
</div>
<div class="page-wrap w" *ngIf="product$ | async as product">
  <div class="intro-wrap">
    <div class="p-img-con">
      <div class="main-img-con">
        <img
          class="main-img"
          src="{{ product.imageHost }}{{ product.mainImage }}"
          alt="{{ product.name }}"
        />
      </div>
      <ul class="p-img-list">
        <li class="p-img-item" *ngFor="let subImage of product.subImages.split(',')">
          <img class="p-img" src="{{ product.imageHost }}{{ subImage }}" alt="{{ subImage }}" />
        </li>
      </ul>
    </div>
    <div class="p-info-con">
      <h1 class="p-name">{{ product.name }}</h1>
      <p class="p-subtitle">{{ product.subtitle }}</p>
      <div class="p-info-item p-price-con">
        <span class="label">价格:</span>
        <span class="info">￥{{ product.price }}</span>
      </div>
      <div class="p-info-item">
        <span class="label">库存:</span>
        <span class="info">{{ product.stock }}</span>
      </div>
      <div class="p-info-item p-count-con">
        <span class="label">数量:</span>
        <input class="p-count" [(ngModel)]="count" readonly="" />
        <span class="p-count-btn plus" (click)="plus()">+</span>
        <span class="p-count-btn minus" (click)="minus()">-</span>
      </div>
      <div class="p-info-item" (click)="addToCart()">
        <a class="btn cart-add">Add to shopping cart</a>
      </div>
    </div>
  </div>
  <div class="detail-wrap">
    <div class="detail-tab-con">
      <ul class="tab-list">
        <li class="tab-item active">Details</li>
      </ul>
    </div>
    <div class="detail-con" [innerHTML]="product.detail"></div>
  </div>
</div>
