<app-breadcrumb [links]="links"></app-breadcrumb>
<div class="page-wrap w">
  <ul class="sort-con">
    <li class="sort-item" [class.active]="type === 'default'" data-type="default" (click)="sort('default')">Default</li>
    <li class="sort-item" [class.active]="type === 'price'" data-type="price" (click)="sort('price')">
      <span>Price</span>
      <i class="fa fa-sort-asc"></i>
      <i class="fa fa-sort-desc"></i>
    </li>
  </ul>
  <!-- list 容器 -->

  <ng-container *ngIf="listResource$">
    <ul class="p-list-con" *ngFor="let product of (listResource$ | async)?.list">
      
      <li class="p-item">
          <div class="p-img-con">
              <a class="link" [routerLink]="['/product/detail']" [queryParams]="{productId: product.id}">
                  <img class="p-img" src="{{product.imageHost}}{{product.mainImage}}" alt="{{product.name}}" />
              </a>
          </div>
          <div class="p-price-con">
              <span class="p-price">￥{{product.price}}</span>
          </div>
          <div class="p-name-con">
              <a class="p-name" [routerLink]="['/product/detail']" [queryParams]="{productId: product.id}">{{product.name}}</a>
          </div>
      </li>
  
    </ul>
  </ng-container>
  
  <!-- 分页容器 -->
  <div class="pagination" *ngIf="listResource$">
    <app-paginator [pageSize]="pageSize" [length]="(listResource$ | async)?.total" [onPageFiredCallback]="onPageFired"></app-paginator>
  </div>
</div>
