/* modal部分 */
.modal {
  overflow-x: auto;
  overflow-y: auto;
}
.modal .modal-container {
  margin: 0 auto;
  background: #fff;
  border-radius: 2px;
}
.modal .modal-container .modal-header {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.modal .modal-container .modal-header .modal-title {
  font-size: 14px;
}
.modal .modal-container .modal-header .close {
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.modal .modal-container .modal-body {
  padding: 15px;
}

/* form部分 */
.form .form-line {
  margin: 5px 0;
  overflow: hidden;
}
.form .form-line .label {
  display: block;
  float: left;
  width: 85px;
  text-align: right;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.form .form-line .label .required {
  color: red;
}
.form .form-line .form-item {
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  outline: none;
  margin-right: 10px;
}
.form .form-line .btn {
  margin-left: 95px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}
