<div class="crumb">
  <div class="w">
    <div class="crumb-con">
      <a class="link" href="./index.html">MTMall</a>
      <span>></span>
      <span class="link-text">确认订单</span>
    </div>
  </div>
</div>
<div class="page-wrap w">
  <div class="panel">
    <h1 class="panel-title">收货地址</h1>
    <div class="panel-body address-con">
      <ng-container *ngFor="let address of addressList$ | async">
        <div class="address-item" [class.active]="address.id == selectedAddressId" (click)="addressItem(address.id)">
          <div class="address-title">
            {{ address.receiverCity }} {{ address.receiverProvince }} （
            {{ address.receiverName }} 收 ）
          </div>
          <div class="address-detail">
            {{ address.receiverAddress }} {{ address.receiverPhone }}
          </div>
          <div class="address-opera">
            <span class="link address-update" (click)="editAddress(address.id)"
              >编辑</span
            >
            <span
              class="link address-delete"
              (click)="addressDelete(address.id)"
              >删除</span
            >
          </div>
        </div>
      </ng-container>
      <div class="address-add">
        <div class="address-new" (click)="openDialog()">
          <i class="fa fa-plus"></i>
          <div class="text">
            使用新地址
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <h1 class="panel-title">商品清单</h1>
    <div class="panel-body product-con" *ngIf="orderItem$ | async as orderItem">
      <table class="product-table">
        <tr>
          <th class="cell-img">&nbsp;</th>
          <th class="cell-info">商品描述</th>
          <th class="cell-price">价格</th>
          <th class="cell-count">数量</th>
          <th class="cell-total">小计</th>
        </tr>
        <ng-container *ngFor="let orderItemVo of orderItem.orderItemVoList">
          <tr>
            <td class="cell-img">
              <a
                href="./detail?productId={{ orderItemVo.productId }}"
                target="_blank"
              >
                <img
                  class="p-img"
                  src="{{ orderItem.imageHost }}{{ orderItemVo.productImage }}"
                  alt="{{ orderItemVo.productName }}"
                />
              </a>
            </td>
            <td class="cell-info">
              <a
                class="link"
                href="./detail.html?productId={{ orderItemVo.productId }}"
                target="_blank"
                >{{ orderItemVo.productName }}</a
              >
            </td>
            <td class="cell-price">￥{{ orderItemVo.currentUnitPrice }}</td>
            <td class="cell-count">{{ orderItemVo.quantity }}</td>
            <td class="cell-total">￥{{ orderItemVo.totalPrice }}</td>
          </tr>
        </ng-container>
      </table>
      <div class="submit-con">
        <span>订单总价:</span>
        <span class="submit-total">￥{{ orderItem.productTotalPrice }}</span>
        <span class="btn order-submit">提交订单</span>
      </div>
    </div>
  </div>
</div>
