<div class="page-wrap">
  <div class="w">
    <div class="user-con">
      <div class="user-title">User login</div>
      <div class="user-box">
        <div class="error-item">
          <i class="fa fa-minus-circle error-icon"></i>
          <p class="err-msg">Error</p>
        </div>
        <div class="user-item">
          <label class="user-label" for="">
            <i class="fa fa-user"></i>
          </label>
          <input
            class="user-content"
            id="username"
            placeholder="Username"
            autocomplete="off"
            [formControl]="username"
            required
          />
        </div>
        <div class="user-item">
          <label class="user-label" for="password">
            <i class="fa fa-lock"></i>
          </label>
          <input
            type="password"
            class="user-content"
            id="password"
            placeholder="Password"
            autocomplete="off"
            [formControl]="password"
            required
          />
        </div>
        <a class="btn btn-submit" id="submit" (click)="login()">Login</a>
        <div class="link-item">
          <a class="link" [routerLink]="['/user-pass-reset']"
            >Forgot password?</a
          >
          <a class="link" [routerLink]="['/user-register']"
            >Register</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
