<div class="crumb">
  <div class="w">
    <div class="crumb-con">
      <a class="link" href="./home">MTMall</a>
      <span>></span>
      <span class="link-text">Order detail</span>
    </div>
  </div>
</div>
<div class="page-wrap w">
  <app-nav-side></app-nav-side>
  <div class="content with-nav" *ngIf="order$ | async as order">
    <div class="panel">
      <div class="panel-title">订单信息</div>
      <div class="panel-body">
        <div class="order-info">
          <div class="text-line">
            <span class="text">订单号：{{ order.orderNo }}</span>
            <span class="text">创建时间：{{ order.createTime }}</span>
          </div>
          <div class="text-line">
            <span class="text">
              收件人：
              {{ order.receiverName }}
              {{ order.shippingVo.receiverProvince }}
              {{ order.shippingVo.receiverCity }}
              {{ order.shippingVo.receiverAddress }}
              {{ order.shippingVo.receiverMobile }}
            </span>
          </div>
          <div class="text-line">
            <span class="text">订单状态： {{ order.statusDesc }}</span>
          </div>
          <div class="text-line">
            <span class="text">支付方式：{{ order.paymentTypeDesc }}</span>
          </div>
          <div class="text-line">
            <a *ngIf="order.status == 10" class="btn" href="./payment?orderNumber={{ order.orderNo }}"
              >去支付</a
            >
            <a *ngIf="order.status == 10" class="btn order-cancel" (click)="orderCancel(order.orderNo)">取消订单</a>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-title">商品清单</div>
      <div class="panel-body">
        <table class="product-table">
          <tr>
            <th class="cell-th cell-img">&nbsp;</th>
            <th class="cell-th cell-info">商品信息</th>
            <th class="cell-th cell-price">单价</th>
            <th class="cell-th cell-count">数量</th>
            <th class="cell-th cell-total">小计</th>
          </tr>
          <tr *ngFor="let orderItemVo of order.orderItemVoList">
            <td class="cell cell-img">
              <a href="./detail?productId={{ orderItemVo.productId }}" target="_blank">
                <img
                  class="p-img"
                  src="{{ order.imageHost }}{{ orderItemVo.productImage }}"
                  alt="{{ orderItemVo.productName }}"
                />
              </a>
            </td>
            <td class="cell cell-info">
              <a
                class="link"
                href="./detail?productId={{ orderItemVo.productId }}"
                target="_blank"
                >{{ orderItemVo.productName }}</a
              >
            </td>
            <td class="cell cell-price">￥{{ orderItemVo.currentUnitPrice }}</td>
            <td class="cell cell-count">{{ orderItemVo.quantity }}</td>
            <td class="cell cell-total">￥{{ orderItemVo.totalPrice }}</td>
          </tr>
        </table>
        <p class="total">
          <span>订单总价：</span>
          <span class="total-price">￥{{ order.payment }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
