<app-header></app-header>
<app-search></app-search>
<div class="crumb">
  <div class="w">
    <div class="crumb-con">
      <a class="link" [routerLink]="['/home']">YIXUAN</a>
      <span> > </span>
      <span class="link-text">Confirm order</span>
    </div>
  </div>
</div>
<div class="page-wrap w">
  <div class="panel">
    <h1 class="panel-title">Receiver address</h1>
    <div class="panel-body address-con">
      <ng-container *ngFor="let address of addressList$ | async">
        <div class="address-item" [class.active]="address.id == selectedAddressId" (click)="addressItem(address.id)">
          <div class="address-title">
            {{ address.receiverCity }} {{ address.receiverProvince }} （
            {{ address.receiverName }} receive ）
          </div>
          <div class="address-detail">
            {{ address.receiverAddress }} {{ address.receiverPhone }}
          </div>
          <div class="address-opera">
            <span class="link address-update" (click)="editAddress(address.id)"
              >Edit</span
            >
            <span
              class="link address-delete"
              (click)="addressDelete(address.id)"
              >Delete</span
            >
          </div>
        </div>
      </ng-container>
      <div class="address-add">
        <div class="address-new" (click)="openDialog()">
          <i class="fa fa-plus"></i>
          <div class="text">
            New address
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <h1 class="panel-title">Product list</h1>
    <div class="panel-body product-con" *ngIf="orderItem$ | async as orderItem">
      <table class="product-table">
        <tr>
          <th class="cell-img">&nbsp;</th>
          <th class="cell-info">Product description</th>
          <th class="cell-price">Price</th>
          <th class="cell-count">Amount</th>
          <th class="cell-total">Sub total</th>
        </tr>
        <ng-container *ngFor="let orderItemVo of orderItem.orderItemVoList">
          <tr>
            <td class="cell-img">
              <a
                [routerLink]="['/detail']" [queryParams]="{productId: orderItemVo.productId}"
              >
                <img
                  class="p-img"
                  src="{{ orderItem.imageHost }}{{ orderItemVo.productImage }}"
                  alt="{{ orderItemVo.productName }}"
                />
              </a>
            </td>
            <td class="cell-info">
              <a
                class="link"
                [routerLink]="['/detail']" [queryParams]="{productId: orderItemVo.productId}"
                >{{ orderItemVo.productName }}</a
              >
            </td>
            <td class="cell-price">￥{{ orderItemVo.currentUnitPrice }}</td>
            <td class="cell-count">{{ orderItemVo.quantity }}</td>
            <td class="cell-total">￥{{ orderItemVo.totalPrice }}</td>
          </tr>
        </ng-container>
      </table>
      <div class="submit-con">
        <span>Total: </span>
        <span class="submit-total">€{{ orderItem.productTotalPrice }}</span>
        <span class="btn order-submit" (click)="orderSubmit()">Submit order</span>
      </div>
    </div>
  </div>
</div>
