<app-breadcrumb link="Shopping cart"></app-breadcrumb>
<div class="page-wrap w" *ngIf="cart$ | async as cart">
    <div class="cart-header">
        <table class="cart-table">
            <tr>
                <th class="cart-cell cell-check">
                    <label class="cart-label">
                        <input [(ngModel)]="cart.allChecked" (change)="cartSelectAll(cart.allChecked)" type="checkbox" class="cart-select-all" />
                        <span>All</span>
                    </label>
                </th>
                <th class="cart-cell cell-info">Product information</th>
                <th class="cart-cell cell-price">Price</th>
                <th class="cart-cell cell-count">Amount</th>
                <th class="cart-cell cell-total">Sub total</th>
                <th class="cart-cell cell-opera">Operate</th>
            </tr>
        </table>
    </div>
    <div class="cart-list">
        <table class="cart-table" *ngFor="let productVo of cart.cartProductVoList">
            <tr>
                <td class="cart-cell cell-check">
                    <label class="cart-label">
                        <input [(ngModel)]="productVo.productChecked" (change)="cartSelect(productVo.productChecked, productVo.productId)" type="checkbox" class="cart-select" />
                    </label>
                </td>
                <td class="cart-cell cell-img">
                    <a class="link" [routerLink]="['/detail']" [queryParams]="{productId: productVo.productId}">
                        <img class="p-img" src="{{cart.imageHost}}{{productVo.productMainImage}}" alt="{{productVo.productName}}" />
                    </a>
                </td>
                <td class="cart-cell cell-info">
                    <a class="link" [routerLink]="['/detail']" [queryParams]="{productId: productVo.productId}">{{productVo.productName}}</a>
                </td>
                <td class="cart-cell cell-price">￥{{productVo.productPrice}}</td>
                <td class="cart-cell cell-count">
                    <span class="count-btn minus" (click)="minus(productVo.quantity, productVo.productId)">-</span>
                    <input class="count-input" value="{{productVo.quantity}}" data-max="{{productVo.productStock}}"/>  
                    <span class="count-btn plus" (click)="plus(productVo.quantity, productVo.productStock, productVo.productId)">+</span>
                </td>
                <td class="cart-cell cell-total">￥{{productVo.productTotalPrice}}</td>
                <td class="cart-cell cell-opera">
                    <span class="link cart-delete" (click)="cartDelete(productVo.productId)">Delete</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="cart-footer">
        <div class="select-con">
            <label>
                <input [(ngModel)]="cart.allChecked" (change)="cartSelectAll(cart.allChecked)" type="checkbox" class="cart-select-all" />
                <span>All</span>
            </label>
        </div>
        <div class="delete-con">
            <span class="link delete-selected" (click)="deleteSelected(cart)">
                <i class="fa fa-trash-o"></i>
                <span>Delete selected</span>
            </span>
        </div>
        <div class="submit-con">
            <span>Total：</span>
            <span class="submit-total">￥{{cart.cartTotalPrice}}</span>
            <span class="btn btn-submit" (click)="checkout()">Checkout</span>
        </div>
    </div>
</div>
<p class="err-tip" *ngIf="!cart$">
    <span>Your shopping cart is empty, </span>
    <a [routerLink]="['/home']">Go to shopping</a>
</p>
