<div class="crumb">
  <div class="w">
    <div class="crumb-con">
      <a class="link" href="./home">MTMall</a>
      <span> > </span>
      <span class="link-text">User center</span>
    </div>
  </div>
</div>
<div class="page-wrap w">
  <app-nav-side></app-nav-side>
  <div class="content with-nav">
    <div class="panel">
      <div class="panel-title">Personal center</div>
      <div class="panel-body">
        <!-- <div class="loading"></div> -->
        <div class="user-info" *ngIf="user$ | async as user">
          <div class="form-line">
            <span class="label">User: </span>
            <span class="text">{{ user.username }}</span>
          </div>
          <div class="form-line">
            <span class="label">Mobile: </span>
            <span class="text">{{ user.phone }}</span>
          </div>
          <div class="form-line">
            <span class="label">E-mail: </span>
            <span class="text">{{ user.email }}</span>
          </div>
          <div class="form-line">
            <span class="label">Question: </span>
            <span class="text">{{ user.question }}</span>
          </div>
          <div class="form-line">
            <span class="label">Answer: </span>
            <span class="text">{{ user.answer }}</span>
          </div>
          <a class="btn btn-submit" href="./user-center-update">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
